<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="nodata content">
            <h1>Nothing to see here</h1>
            <a href="/login">Login</a>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>


